@media only screen and (max-width: 376px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #169BD5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    /* Background */
    .bg__arrow {
        position: absolute;
        width: 100vw;
    }
    
    #bg__arrow-top {
        top: -14vh;
    }
    
    #bg__arrow-bottom {
        bottom: -14vh;
    }
    
    /* Content Div */
    .content {
        position: relative;
        background-color: #fff;
        margin: 0em 2em 0em 2em;
        margin-top: 20%;
        padding-top: 6em;
        padding-bottom: 6em;
        text-align: center;
        border: solid 1px #707070;
    }
    
    .content__login {
        text-align: left;
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
    
    .content__sub-title {
        font-weight: normal;
        font-size: 1.5em;
    }
    
    .content__description {
        margin-top: -1em;
        color: #999999;
        font-size: 1.1em;
    }
    
    .content__input {
        width: 198px;
        border: none;
        border-bottom: solid 1px #707070;
        padding-bottom: .3em;
        padding-left: .2em;
        font-size: 1.1em;
    }
    .content__input:focus {
        border-bottom: solid 1px #169BD5;
        color: #169BD5;
    }
    
    #input-code {
        margin-bottom: .4em;
    }
    
    .content__fp-link {
        font-size: .7em;
        color: #169BD5;
        margin-left: 9.8em;
        text-decoration: none;
        text-decoration: underline;
    }
    
    .content__submit-btn {
        width: 198px;
        height: 45px;
        color: #fff;
        font-size: 1.3em;
        background-color: #169BD5;
        border: solid 1px #707070;
        cursor: pointer;
    }

    /* forgot password */
    .content__sub-title__fp {
        font-weight: normal;
        font-size: 1.4em;
    }

    .content__login-link {
        font-size: .8em;
        color: #169BD5;
        margin-left: 13em;
        text-decoration: none;
        text-decoration: underline;
    }

    /* patienten */
    .patient-counter {
        width: 100vw;
        height: 72px;
        background-color: #fff;
        text-align: center;
        font-size: 2em;
        box-shadow: 0px 10px #00000031;
    }
    .patient-counter h3 {
        position: absolute;
        font-weight: normal;
        top: -4%;
        left: 28%;
    }

    .patient-list__patient {
        width: 100vw;
        padding-top: .01px;
        padding-bottom: .01px;
        background-color: #fff;
        margin-bottom: .5em;
    }

    .patient-list__patient__name {
        margin-left: 1.5em;
        font-size: 1.4em;
    }

    .patient-list__patient__code {
        float: right;
        margin-right: 1.5em;
    }

    .logout-btn {
        width: 100vw;
        position: absolute;
        bottom: 0;
        height: 63px;
        border: none;
        font-size: 1.5em;
        background-color: #fff;
        cursor: pointer;
    }
}